.vebo-display-none {
    display: none;
}

.vebo-w100 {
    width: 100%;
    max-width: 1366px;
}

.vebo-m0 {
    margin: 0px;
}

#sidebar .vebo-portal-logo-bg {
    background: linear-gradient(89.71deg, #141414 0.15%, #181146 102.14%);
}

#sidebar .vebo-nav-bg {
    background: #EFF3F6;
}

#sidebar .vebo-nav-bg .vebo-nav-item a.vebo-nav-link {
    color: #003577;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    display: inline-block;
    width: 100%;
}

#sidebar .vebo-nav-bg .vebo-nav-item a.vebo-nav-link i.vebo-menu-icon {
    color: #003577;
    font-size: 14px;
    line-height: 20px;
}

#sidebar .vebo-nav-bg .vebo-nav-item a.vebo-nav-link svg.vebo-menu-icon {
    fill: #003577;
    margin-right: 12px;
}

#sidebar .vebo-nav-bg .vebo-nav-item a.vebo-nav-link.c-active,
#sidebar .vebo-nav-bg .vebo-nav-item a.vebo-nav-link:hover,
#sidebar .vebo-nav-bg .vebo-nav-item a.vebo-nav-link:active,
#sidebar .vebo-nav-bg .vebo-nav-item a.vebo-nav-link:focus {
    background-color: rgb(255 255 255);
}

#sidebar .vebo-nav-bg .c-sidebar-nav-dropdown a.vebo-dropdown-nav svg.vebo-menu-icon {
    fill: #003577;
    margin-right: 12px;
}

#sidebar .vebo-nav-bg .c-sidebar-nav-dropdown a.vebo-dropdown-nav {
    color: #003577;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    display: inline-block;
    width: 100%;
}

#sidebar .vebo-nav-bg .c-sidebar-nav-dropdown a.vebo-dropdown-nav:hover,
#sidebar .vebo-nav-bg .c-sidebar-nav-dropdown a.vebo-dropdown-nav:active,
#sidebar .vebo-nav-bg .c-sidebar-nav-dropdown a.vebo-dropdown-nav:focus {
    background-color: rgb(255 255 255);
}

#vebo-app .vebo-top-fixed-header {
    background: #EFF3F6;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

#vebo-app .vebo-main {
    background-color: rgb(255 255 255);
}

#vebo-app .vebo-wrapper .vebo-content-card {
    background: #EFF3F6;
    border-radius: 5px;
    border: none;
}

#vebo-app .vebo-wrapper .vebo-content-card .vebo-logo-section {
    padding: 10px;
    padding-top: 0px;
    margin: 0px;
    margin-top: -3px;
}

#vebo-app .vebo-wrapper .vebo-content-card .vebo-logo-section .vebo-company-logo {
    padding: 0;
    background-color: #ebedef;
    border: none;
    border-radius: 50%;
    max-width: 100%;
    height: 70px; 
    width: 70px;
}

#vebo-app .vebo-wrapper .vebo-content-card .required-star {
    color: #003577;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
}

#vebo-app .vebo-wrapper .vebo-content-card .vebo-section-heading-title {
    color: #003577;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
}

.caret {
    display: none !important;
}

.phoneNumber {
    border-radius: 0px 5px 5px 0px !important;
}


/*************************
    Toggle Switch CSS
**************************/

/* Basic Rules */
.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width: 20px;
    height: 16px;
    margin:0px 17px 0px 10px;
    transform:translateY(50%);
    position:relative;
    float: left;
}
.switch-text {
    float: left;
    padding-top: 5px;
    margin-left: -10px;
}
/* Style Wired */
.slider {
    position:absolute;
    top:0;
    bottom:0;
    left:-10px;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 0px #777, 0 0 1px #777;
    cursor:pointer;
    border:1px solid #ABBECC;
    overflow:hidden;
    transition:.4s;
}
.slider:before {
    position:absolute;
    content:"";
    width: 8px;
    /* height:100%; */
    background:#ABBECC;
    border-radius:30px;
    transform:translateX(-14px);
    transition:.4s;
    margin: 3px;
    top: 0;
    bottom: 0;
    left: 14px;
    right: 0;
}

input:checked + .slider:before {
    transform:translateX(0px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 0px limeGreen,0 0 0px limeGreen;
}

/* Style Flat */
.switch.flat .slider {
 box-shadow:none;
}
.switch.flat .slider:before {
  background:#FFF;
}
.switch.flat input:checked + .slider:before {
 background:white;
}
.switch.flat input:checked + .slider {
  background:limeGreen;
}

/*************************
    Toggle Switch CSS
**************************/

.select2-container {
    min-height: 40px;
    width: 300px !important;
}

.select2-dropdown {
    width: 300px !important;
    border: none !important;
}

.select2-container--default .select2-results>.select2-results__options {
    overflow: visible;
    max-height: 100% !important;
}

.select2-results__option {
    border-bottom: 1px solid #C8C8C8;
}

.vebo-border-none {
    border: none;
}

.vebo-section-title {
    color: #003577;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

a.btn.vebo-create-btn {
    background-color: #130945;
    width: 326px;
    height: 40px;
    border: 1px solid #130945;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
}

a.btn.vebo-create-btn:not(:disabled):hover,
a.btn.vebo-create-btn:not(:disabled):active,
a.btn.vebo-create-btn:not(:disabled):focus {
    background-color: #130945;
    border: 1px solid #130945;
    box-shadow: none;
}

.dataTable thead tr th {
    border: none;
    background-color: rgb(255 255 255);
}

.dataTable tbody tr {
    background-color: #EFF3F6;
}

.dataTable tbody tr td {
    color:#323232;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.dataTables_length {
    display: none;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 350px !important;
    height: 40px;
    border: 1px solid #ABBECC;
    border-radius: 5px;
}

.action-options-append {
    position: relative;
}

ul.action-options {
    width: 120px;
    height: auto;
    background-color: rgb(255 255 255);
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 60px;
    top: auto;
    left: auto;
    z-index: 1111;
}

ul.action-options li {
    padding: 10px;
    list-style: none;
    width: 100%;
    color: #003577;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    cursor: pointer;
}

ul.action-options li a {
    text-decoration: none;
}

ul.action-options li.details-action {
    background-color: #E5EBEF;
}

a.btn.vebo-filter-btn {
    background-color: rgb(255 255 255);
    color: #130945;
    width: 126px;
    height: 40px;
    border: 1px solid rgb(255 255 255);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
}

a.btn.vebo-filter-btn.filter-active,
a.btn.vebo-filter-btn:not(:disabled):hover,
a.btn.vebo-filter-btn:not(:disabled):active,
a.btn.vebo-filter-btn:not(:disabled):focus {
    color: rgb(255 255 255);
    background-color: #130945;
    border: 1px solid #130945;
    box-shadow: none;
}

a.btn.vebo-filter-btn svg {
    margin-right: 10px;
}

a.btn.vebo-filter-btn svg path {
    fill: none;
    stroke: #130945;
    stroke-width: 28;
}

a.btn.vebo-filter-btn.filter-active svg path,
a.btn.vebo-filter-btn:not(:disabled):hover svg path,
a.btn.vebo-filter-btn:not(:disabled):active svg path,
a.btn.vebo-filter-btn:not(:disabled):focus svg path {
    fill: none;
    stroke: rgb(255 255 255);
    stroke-width: 28;
}

.vebo-filter-bg {
    width: 100%;
    background-color: #EFF3F6;
    border-radius: 5px;
    padding: 10px;
}

.select2-results__option {
    position: relative;
}

img.payment_methods_icon {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 30px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    position: relative;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice span:not(.select2-selection__choice__remove) {
    width: max-content;
    margin-right: 25px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice span img.payment_methods_icon {
    padding: 5px;
    right: 0px;
}

.swal2-popup {
    border-radius: 5px !important;
    width: 450px !important;
}

.swal2-title {
    font-size: 20px !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
    line-height: 25px !important;
    color: #003577 !important;
}

.section-heading {
    font-size: 20px !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
    line-height: 25px !important;
    color: #323232 !important; 
}

.opt_feature_label {
    font-size: 14px !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
    line-height: 25px !important;
    color: #003577 !important;
}

.swal2-content {
    padding-top: 18px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    line-height: 25px;
    color: #323232;
}

.swal2-styled.swal2-confirm {
    background-color: #130945 !important;
    color: rgb(255 255 255) !important;
    font-family: 'Roboto' !important;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
}

.swal2-styled.swal2-cancel {
    background-color: #E5EBEF !important;
    color: #7292A9 !important;
    font-family: 'Roboto' !important;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-info:focus,
.btn-warning:focus,
.btn-danger:focus,
.btn-success:focus,
.btn-dark:focus,
.swal2-styled:focus {
    box-shadow: none !important;
}